﻿@model NexCore.Identity.Sts.ViewModels.Account.LogoutViewModel

@{
    ViewData["Title"] = "Выход";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-12">
        <p>Вы действительно желайте завершить сеанс?</p>
        
        <form asp-action="Logout">
            <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
            <fieldset>
                <div class="form-group">
                    <button class="btn btn-primary">Да, выйти</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>