﻿@model NexCore.Identity.Sts.ViewModels.Consent.ConsentViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-sm-12">
        @if (Model.ClientLogoUrl != null)
        {
            <div style="float: left;">
                <img src="@Model.ClientLogoUrl" style="width: 80px; height: 80px;">
            </div>
        }
        <h1>
            @Model.ClientName
            <small>запрашивает Ваше разрешение</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

        <form asp-action="Index">
            <input type="hidden" asp-for="ReturnUrl" />

            <hr />
            <p>Уберите права которые Вы не желаете предоставлять.</p>

            <hr />

            @if (Model.IdentityScopes.Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span>
                        Личная информация
                    </div>
                    <ul class="list-group">
                        @foreach (var scope in Model.IdentityScopes)
                        {
                            @Html.Partial("_ScopeListItem", scope)
                        }
                    </ul>
                </div>
            }

            @if (Model.ResourceScopes.Any())
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-tasks"></span>
                        Доступ к приложениям
                    </div>
                    <ul class="list-group">
                        @foreach (var scope in Model.ResourceScopes)
                        {
                            @Html.Partial("_ScopeListItem", scope)
                        }
                    </ul>
                </div>
            }

            @if (Model.AllowRememberConsent)
            {
                <div class="form-group">
                    <label>
                        <input asp-for="RememberConsent" />
                        <strong>Запомнить мое решение</strong>
                    </label>
                </div>
            }
            <hr />
            <div>
                <button name="button" value="yes" class="btn btn-primary" autofocus>Да, разрешить</button>
                <button name="button" value="no" class="btn">Нет, не разрешать</button>
                @if (Model.ClientUrl != null)
                {
                    <a class="pull-right btn btn-default" target="_blank" href="@Model.ClientUrl">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <strong>@Model.ClientName</strong>
                    </a>
                }
            </div>
        </form>
    </div>
</div>
