﻿extends layout

block content
    h1= title
    p Welcome to #{title}

    <button id="login">Login</button>
    <button id="api">Call API</button>
    <button id="logout">Logout</button>

    <pre id="results"></pre>

    <script src="/javascripts/oidc-client/oidc-client.min.js"></script>
    <script src="/javascripts/index.js"></script>