﻿@using IdentityServer4.Extensions
@{
    ViewData["Title"] = "Добро пожаловать в NexCore ID службу";
}

<h1>@ViewData["Title"]</h1>

<hr />

@if (User.IsAuthenticated())
{
    <p>Вы успешно прошли авторизацию @User.Identity.Name.</p>

    <p><a class="btn btn-primary" href="@Url.Action("Logout", "Account")">Выход</a></p>
}
else
{
    <p>Пожалуйста, авторизуйтесь для начала работы со службой.</p>

    <p><a class="btn btn-primary" href="@Url.Action("Login", "Account")">Вход</a></p>
}